.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.image {
    display: flex;
    align-items: center;
    width: 500px;
}
.image img{
    
    width: 400px;
    height: 550px;
}


.message{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 60px;
}
.message h1{
    font-size: 60px;
    font-weight: 600;
    color: #204051;
}
.message p{
    font-size: 20px;
    color: #767676;
}


.btns{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}


.primary{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    background: #204051;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    color: #204051;
    border: 1px solid rgb(32, 64, 81);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 90px 0px;
}

.search{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.search input{
    width: 550px;
    height: 50px;
    border-radius: 5px;
    padding-left: 50px;
    color: rgb(32, 64, 81);
}
.search input:focus{
    border: 1px solid rgb(32, 64, 81);
}

.search img{
    position: absolute;
    width: 18px;
    margin-top: 16px;
    margin-left: 16px;
}